{% extends "subjects_layout.html" %}

{% block sub_content %}
 <div class="container bg-white p-3"> 
  <div class="d-flex align-items-center">
    <hr class="flex-grow-1">
    <h5 class="mx-1 text-center fw-light">
      <i class="fa fa-plus-circle"></i> Add Subject/Learning Area
    </h5>
    <hr class="flex-grow-1"> 
  </div>
  <div class="form-group px-3">
    <form action="" method="post" novalidate>
        <div class="row">
            <div class="col-md-4 col-12 mb-3">
                <div>
                    <b>{{ form.subject.label }}</b>
                    {{ form.subject(class="input is-primary" + 
                    (' is-danger' if form.subject.errors else '')) }}
                    {% for error in form.subject.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="mt-1">
                    <b>{{ form.sub_short_form.label }}</b>
                    {{ form.sub_short_form(class="input is-primary" + 
                    (' is-danger' if form.sub_short_form.errors else '')) }}
                    {% for error in form.sub_short_form.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
            </div> 
            <div class="col-md-8 col-12 mb-3 border p-1">
                <div class="w-100 px-2">
                  <p class="text-center fw-bold">Select applicable classes/forms:</p>
                  <div class="d-flex flex-wrap gap-2">
                    {% for field in form if field.type == 'BooleanField' %}
                      <div class="form-check me-3">
                        {% if field.name == 'all_classes' %}
                          {{ field(class="form-check-input", id="all-classes-checkbox") }}
                        {% else %}
                          {{ field(class="form-check-input class-checkbox") }}
                        {% endif %}
                        {{ field.label(class="form-check-label") }}
                      </div>
                    {% endfor %}
                  </div>
              
                  {% if form.all_classes.errors %}
                    <div class="text-danger small">{{ form.all_classes.errors[0] }}</div>
                  {% endif %}
                </div>
              </div>                            
        </div>
        <div class="justify-content-end d-flex">
            <a href="{{ url_for('admin_bp.add_subject') }}">
                <button type="button" class="btn btn-sm btn-danger mx-2 mt-2" id="btn-clear">
                    <i class="bi bi-arrow-clockwise"></i> Clear
                </button>
            </a>
            {{ form.add(class='btn btn-sm btn-dark mt-2') }}
        </div>         
      {{ form.hidden_tag() }}
    </form>
  </div>
 </div> 
  {% if all_subjects %}
    <div class="container bg-white mt-3 p-3" 
      style="height: 214px; overflow-y: auto;"> 
      <div class="d-flex align-items-center">
        <hr class="flex-grow-1">
        <h6 class="mx-3 text-center fw-light">
          <i class="fa fa-book"></i> Learning Subjects
        </h6>
        <hr class="flex-grow-1"> 
      </div>
    <!-- Make sure to make the table responsive -->
    <table class="table table-bordered text-muted table-sm table-hover">
      <caption style="caption-side: top;">Total no of Subjects: {{ all_subjects | length }}</caption>
      <thead class="border">
        <tr>
          <th sytle="width: 1%">#</th>
          <th>Subject</th>
          <th>Short form</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for sub in all_subjects %}
          <tr>
            <td>{{ loop.index }}</td>
            <td id="{{ sub.subject }}" class="subject-name">{{ sub.subject }}</td>
            <td>{{ sub.short_form }}</td>
            <td>
              <button class="btn btn-sm btn-danger btn-delete {{ sub.subject }}" 
                data-bs-toggle="modal"   data-bs-target="#deleteModel">
                <i class="fa fa-trash"></i> delete
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  {% endif %} 

<!-- Warning Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" 
  aria-labelledby="warningModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-dark">
        <h5 class="modal-title" id="warningModalLabel">
           <i class="fa fa-warning"></i> Warning
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
         aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('admin_bp.delete_subject')}}" method="post">
           <input type="text" id="delete-subject-name" name="delete-subject-name" 
             style="display: none;">
            Are you sure you want to delete <span id="del-subject-name" class="fw-bold"></span>?
            <div class="mt-2 d-flex justify-content-end border-top mt-2 pt-2">
              <button type="button" class="btn btn-secondary" 
               data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger mx-2">
               <i class="fa fa-trash"></i> Delete</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // Implement deleting subject functionality.
  document.querySelectorAll('.btn-delete').forEach(button => {
    button.addEventListener('click', () => {
      // Collect details of the subject to be deleted.
      let subject = button.closest('tr').querySelector('.subject-name').textContent.trim();
      document.getElementById('del-subject-name').textContent = subject;
      document.getElementById('delete-subject-name').value = subject;
    });
  });

  const allClassesCheckbox = document.getElementById('all-classes-checkbox');
  const otherCheckboxes = document.querySelectorAll('.class-checkbox');
  
  if (allClassesCheckbox) {
    allClassesCheckbox.addEventListener('change', function () {
        otherCheckboxes.forEach(cb => {
        cb.checked = this.checked;
        });
    });
  }

  // Clear Form inputs. 
  document.getElementById('btn-clear').addEventListener('click', () =>
    document.location.reload());
</script>
{% endblock sub_content %}