{% extends "base.html" %}

<!-- Horizontal navigation -->
{% block horizontal_nav %} 
  <div class="container d-flex links align-items-center">
     <a href="{{ url_for('admin_bp.dashboard') }}">
      <div class="d-flex link__width">
        <i class="material-icons">home</i>
        <span>Home</span>
      </div>
     </a>
     <a href="{{ url_for('admin_bp.update_sch_info') }}">
        <div class="d-flex link__width sub--link--active">
          <i class="material-icons">apartment</i>
          <span>Manage Sch Info</span>
        </div>
      </a>
      <a href="{{ url_for('admin_bp.grade_streams_setup') }}">
        <div class="d-flex link__width">
          <i class="material-icons">settings</i>
          <span class="">Grade/Stream setup</span>
        </div>
      </a>
  </div> 
{% endblock horizontal_nav %}

<!-- Main content area -->
{% block main_content %}
  <div class="bg-white p-4 rounded shadow-sm mt-2 info-form">
    <!-- Flashed Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="alert-container">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('admin_bp.update_sch_info') }}" method="post" novalidate>
      <div class="form">
        {{ form.hidden_tag() }} 
        <div class="d-flex align-items-center bg-white p-2">
            <hr class="flex-grow-1">
            <h5 class="mx-1 fw-bold has-text-primary"> 
               [ Update School Information ]
            </h5>
            <hr class="flex-grow-1">
        </div>
        <div class="row mt-4">
          <div class="col-sm-6">
            <div class="field">
              <label for="name" class="label">{{ form.name.label() }}</label>
              <p class="control has-icons-left has-icons-right">
                {{ form.name(id="name", class="input is-primary" + 
                  (' is-danger' if form.name.errors else ''), 
                  style="text-transform: uppercase;") }}
                {% for error in form.name.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}
                <span class="icon is-small is-left text-success text-muted"> 
                  <i class="material-icons">apartment</i>
                </span>
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="field">
              <label for="contact_email" class="label">
                {{ form.contact_email.label() }}
              </label>
              <p class="control has-icons-left has-icons-right">
                {{ form.contact_email(id="contact_email", class="input is-primary" + 
                  (' is-danger' if form.contact_email.errors else '')) }}
                {% for error in form.contact_email.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}
                <span class="icon is-small is-left text-success text-muted"> 
                  <i class="material-icons">mark_email_unread</i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="field">
              <label for="registration_number" class="label">
                {{ form.registration_number.label() }}
              </label>
              <p class="control has-icons-left has-icons-right">
                {{ form.registration_number(id="registration_number", class="input is-primary" + 
                  (' is-danger' if form.registration_number.errors else '')) }}
                {% for error in form.registration_number.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}
                <span class="icon is-small is-left text-success text-muted"> 
                  <i class="material-icons">app_registration</i>
                </span>
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="field">
              <label for="contact_phone" class="label">
                {{ form.contact_phone.label() }}
              </label>
              <p class="control has-icons-left has-icons-right">
                {{ form.contact_phone(id="contact_phone", class="input is-primary" + 
                  (' is-danger' if form.contact_phone.errors else '')) }}
                {% for error in form.contact_phone.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}
                <span class="icon is-small is-left text-success text-muted"> 
                  <i class="material-icons">call</i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="field">
              <label for="address" class="label">{{ form.address.label() }}</label>
              <p class="control has-icons-left has-icons-right">
                {{ form.address(id="address", class="input is-primary" + 
                  (' is-danger' if form.address.errors else '')) }}
                {% for error in form.address.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}
                <span class="icon is-small is-left text-success text-muted"> 
                  <i class="material-icons">contact_mail</i>
                </span>
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex justify-content-end mt-3">
              {{ form.submit(class="btn btn-secondary w-sm-100") }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div> 
  <div class="line-with-text mt-4">
    <small class="text-muted">Bushra &copy;2025 Developed by Oyaro Jared</small>
  </div>
{% endblock main_content %}

