@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.bg-c1 {
  background-color: #72abd8;
}

.moul-regular {
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
}

.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.gowun-batang-bold {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
}

/* Line with text styling */
.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .line-with-text::before,
  .line-with-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #c5c5c5;
  }

.input-form {
  max-width: 400px;
  width: 100%;
}

.header {
  z-index: 2000;
}

.c-success {
  background-color:  rgb(169 210 194) !important;
}

/* Mobile styles */
@media (max-width: 768px) {
  .company-name {
    text-align: center;
  }
  .info-title {
    text-align: center;
  }
}

.a-style {
  text-decoration: none;
  color: #fff;
}

