{% extends "manage_teachers/view_teachers.layout.html" %}

<!-- Horizontal navigation -->
{% block horizontal_nav %} 
   <!-- Teacher management utilities -->
   <div class="container d-flex links align-items-center">
      <a href="{{ url_for('admin_bp.view_teachers') }}">
         <div class="d-flex link__width sub--link--active">
            <i class="material-icons">visibility</i>
            <span class="">View teachers</span>
         </div>
      </a>
      <a href="{{ url_for('admin_bp.add_teacher') }}">
         <div class="d-flex link__width">
            <i class="material-icons">person_add</i>
            <span>Add teacher</span>
         </div>
      </a>
      <a href="{{ url_for('admin_bp.assign_teacher_roles') }}">
         <div class="d-flex link__width">
            <i class="material-icons">assignment_ind</i>
            <span class="">Manage Teachers</span>
         </div>
      </a>
      <a href="{{ url_for('admin_bp.update_profile') }}">
         <div class="d-flex link__width">
            <i class="material-icons">security_update_good</i>
            <span class="">Update profile</span>
         </div>
      </a>
   </div> 
{% endblock horizontal_nav %}

<!-- Main content area -->
{% block main_content %}
<div class="container-fluid">
   <div class="accordion-item bg-white p-2 shadow-sm">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" 
        type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <h6 class="fw-light p-1">Display Options</h6>
          <i class="bi bi-chevron-down mx-2"></i>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-white pt-3 pb-2">
            <a href="{{ url_for('admin_bp.view_teachers') }}" 
               style="text-decoration: none;">
               <button class="btn btn-danger btn-sm">
                  <i class="fa fa-print"></i> Print View
               </button>
            </a>
        </div>
      </div>
    </div>
 </div>
<div class="container pt-1 pb-3 bg-light mt-1">
 {% block display%}
 <div class="row d-flex justify-content-center">
   <div class="d-flex align-items-center p-2">
    <hr class="flex-grow-1 bg-success">
    <h6 class="mx-2 has-text-primary">
        {% if teachers %}
            {% if all %} 
                Showing all teachers in a detailed view.   
            {% else %}
                Showing {{ teachers[0].branch.name }} teachers in a detailed view.
            {% endif %}
        {% else %}
            No teachers to show yet.
        {% endif %}
    </h6>
    <hr class="flex-grow-1 bg-success">
   </div>
   {% for teacher in teachers %}
      <div class="col-md-5 bg-white shadow-sm mx-2 mt-2 p-3 rounded-1">
         <div class="d-flex justify-content-center">
            <div class="profile-mlg" style="background-image: 
            url('{{ url_for('static', 
            filename='images/profile-pictures/{0}'.format(teacher.passport_filename)) }}');"
            >
            </div>
         </div>
         <div class="w-100 text-center">
            <h6 class="mt-2 fw-bold">
                {{ teacher.teacher_name }} 
            </h6>
            <p>
               Username: <span class="text-muted fw-bold">{{ teacher.user[0].username }}</span>
            </p>
            <p>Phone: <span class="fw-bold">{{ teacher.phone_no }}</span></p>
            {% if teacher.assigned_subjects %} 
               <h6 class="fw-bold border-top pt-2">Assigned Teaching Subjects</h6>
               <table class="table table-bordered text-muted table-sm table-hover">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Subject</th>
                        <th>Grade</th>
                        <th>Stream(s)</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for sub in teacher.assigned_subjects %} 
                        <tr>
                           <td>{{ loop.index }}</td>
                           <td style="text-align: start;">{{ sub.teaching_sub() }}</td>
                           <td>{{ sub.teaching_grade() }}</td>
                           <td>{{ sub.teaching_stream() or '---' }}</td>
                        </tr>
                     {% endfor %}
                  </tbody>
               </table>
            {% else %}
               <div class="container alert alert-danger">
                  <h6 class="text-center">
                     This teacher has not been assigned subjects yet!
                  </h6>
                  <p>Click <a href="{{ url_for('admin_bp.assign_teacher_roles') }}" class="fw-bold" style="text-decoration: none;">
                     here</a> to assign</p>
               </div>
            {% endif %}
         </div>
      </div>
   {% endfor %}
</div>
 {% endblock display%}
</div>
<!-- Footer -->
<div class="line-with-text mt-4">
    <small class="text-muted"><b>2025 © Bushra.</b> All rights reserved.</small>
</div>
{% endblock main_content %}