{% extends "manage_teachers/layout.html" %}

{% block horizontal_nav %} 
   <!-- Teacher management utilities -->
   <div class="container d-flex links align-items-center">
      <a href="{{ url_for('admin_bp.view_teachers') }}">
         <div class="d-flex link__width">
            <i class="material-icons">visibility</i>
            <span class="">View teachers</span>
         </div>
      </a>
      <a href="{{ url_for('admin_bp.add_teacher') }}">
         <div class="d-flex link__width">
            <i class="material-icons">person_add</i>
            <span>Add teacher</span>
         </div>
      </a>
      <a href="#">
         <div class="d-flex link__width sub--link--active">
            <i class="material-icons">assignment_ind</i>
            <span class="">Manage Teachers</span>
         </div>
      </a>
      <a href="{{ url_for('admin_bp.update_profile') }}">
        <div class="d-flex link__width">
           <i class="material-icons">security_update_good</i>
           <span class="">Update profile</span>
        </div>
     </a>
   </div> 
{% endblock horizontal_nav %}

<!-- Main content area -->
{% block main_content %}
<div class="x container bg-white p-3">
   <!-- Flashed Messages -->
   {% with messages = get_flashed_messages(with_categories=True) %}
   {% if messages %}
     <div class="alert-container">
       {% for category, message in messages %}
         <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
           {{ message }}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
       {% endfor %}
     </div>
    {% endif %}
   {% endwith %}
   <!-- teachers role content here -->
   <h5 class="text-center fw-light">
      <i class="fa fa-gear"></i> Assign teachers responsibilities
    </h5>
   <div>
      <table class="table table-bordered text-muted table-sm table-hover">
         <thead class="border">
           <tr>
             <th>#</th>
             <th>Fullname</th>
             <th>Manage</th> 
           </tr>
         </thead>
         <tbody>
            {% for tchr in teachers_paginated.items %}
              <tr>
                <td>{{ loop.index + ((teachers_paginated.page - 1) * teachers_paginated.per_page) }}</td>
                <td class="tr-id" style="display: none;">{{ tchr.id }}</td>
                <td class="teacher-name">{{ tchr.teacher_name }}</td>
                <td>
                  <a href="{{ url_for('admin_bp.update_teacher_role', teacher_id=tchr.id) }}">
                    <button class="btn btn-secondary btn-sm">
                      <i class="fa fa-gear"></i> Roles
                    </button>
                  </a>
                  <a href="{{ url_for('admin_bp.assign_teacher_subjects', teacher_id=tchr.id) }}">
                    <button class="btn btn-sm btn-success">
                        <i class="fa fa-book"></i> Subjects
                      </button>
                  </a>
                  <button class="btn btn-sm btn-warning btn-edit" data-bs-toggle="modal" data-bs-target="#editModel">
                    <i class="bi bi-pencil"></i> Edit
                  </button>
                  <button class="btn btn-sm btn-danger btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModel">
                    <i class="fa fa-trash"></i> Delete
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>          
       </table>
       <nav aria-label="Teacher pagination">
        <ul class="pagination justify-content-center">
          {% if teachers_paginated.has_prev %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('admin_bp.assign_teacher_roles', page=teachers_paginated.prev_num) }}">Previous</a>
            </li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
          {% endif %}
      
          {% for page_num in teachers_paginated.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
              {% if page_num == teachers_paginated.page %}
                <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{{ url_for('admin_bp.assign_teacher_roles', page=page_num) }}">{{ page_num }}</a>
                </li>
              {% endif %}
            {% else %}
              <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
          {% endfor %}
      
          {% if teachers_paginated.has_next %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('admin_bp.assign_teacher_roles', page=teachers_paginated.next_num) }}">Next</a>
            </li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
          {% endif %}
        </ul>
      </nav>      
   </div>
</div>


<!--Teacher Edit Modal -->
<div class="modal fade" id="editModel" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-warning text-dark pt-2 pb-2 px-4">
          <h5 class="modal-title" id="warningModalLabel">
             <i class="bi bi-pencil"></i> Edit Teacher Info
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <h4 class="text-center" id="teacher-name"></h4>
          <form action="{{ url_for('admin_bp.edit_teacher_data') }}" method="post">
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col-md-6">
                    <input type="hidden" name="tr-id" id="t-id">
                    <b>{{ form.teacher_name.label() }}<span class="text-danger"> *</span></b>
                    {{ form.teacher_name(id="teacher-name-input", class="input is-primary" + 
                    (' is-danger' if form.teacher_name.errors else ''), autocomplete="off") }}
                    {% for error in form.teacher_name.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <b>{{ form.id_no.label() }}<span class="text-danger"> *</span></b>
                    {{ form.id_no(id="id-no", class="input is-primary" + 
                    (' is-danger' if form.id_no.errors else ''), autocomplete="off") }}
                    {% for error in form.id_no.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-6">
                    <b>{{ form.tsc_no.label() }}</b>
                    {{ form.tsc_no(id="tsc-no", class="input is-primary" + 
                    (' is-danger' if form.tsc_no.errors else ''), autocomplete="off") }}
                    {% for error in form.tsc_no.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <b>{{ form.phone_no.label() }}<span class="text-danger"> *</span></b>
                    {{ form.phone_no(id="phone-no", class="input is-primary" + 
                    (' is-danger' if form.phone_no.errors else ''), autocomplete="off") }}
                    {% for error in form.phone_no.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-6">
                    <b>{{ form.branch.label() }}<span class="text-danger"> *</span></b>
                    {{ form.branch(id="branch", class="input is-primary" + 
                    (' is-danger' if form.branch.errors else ''), autocomplete="off") }}
                    {% for error in form.branch.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %} 
                </div>
                <div class="col-md-6">
                    <b>{{ form.salary.label() }}</b>
                    {{ form.salary(id="salary", class="input is-primary" + 
                    (' is-danger' if form.salary.errors else ''), autocomplete="off") }}
                    {% for error in form.salary.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
              </div>

              <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-sm btn-secondary">
                    <i class="bi bi-send mx-2"></i> Save changes
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>


<!-- Warning Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header bg-warning text-dark">
         <h5 class="modal-title" id="warningModalLabel">
            <i class="fa fa-warning"></i> Warning
         </h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form action="{{ url_for('admin_bp.delete_teacher') }}" method="post">
            <input type="hidden" id="delete-hidden-teacher-name" name="delete-teacher-name">
             Are you sure you want to delete <span id="del-teacher-name" class="fw-bold"></span>?
             <div class="mt-2 d-flex justify-content-end border-top mt-2 pt-2">
               <button type="button" class="btn btn-secondary" 
                data-bs-dismiss="modal">Cancel</button>
               <button type="submit" class="btn btn-danger mx-2">
                <i class="fa fa-trash"></i> Delete</button>
             </div>
         </form>
       </div>
     </div>
   </div>
 </div>
 <div class="line-with-text mt-5">
    <small class="text-muted"><b>2025 © Bushra.</b> All rights reserved.</small>
 </div>
 <script>
    const fetchUrl = "{{ url_for('admin_bp.fetch_teacher_data') }}"
 </script>
 <script src="{{ url_for('admin_bp.static', filename='js/del_teacher.js') }}"></script> 
{% endblock main_content %}
